[submodule "spotjmhbugs"]
	path = spotjmhbugs
	url = https://github.com/DiegoEliasCosta/spotjmhbugs
[submodule "RQ2. Impact of bad JMH practices/projects/druid"]
	path = RQ2. Impact of bad JMH practices/projects/druid
	url = https://github.com/DiegoEliasCosta/druid
[submodule "RQ2. Impact of bad JMH practices/projects/gs-collections"]
	path = RQ2. Impact of bad JMH practices/projects/gs-collections
	url = https://github.com/DiegoEliasCosta/gs-collections
[submodule "RQ2. Impact of bad JMH practices/projects/h2o-3"]
	path = RQ2. Impact of bad JMH practices/projects/h2o-3
	url = https://github.com/DiegoEliasCosta/h2o-3
[submodule "RQ2. Impact of bad JMH practices/projects/netty"]
	path = RQ2. Impact of bad JMH practices/projects/netty
	url = https://github.com/DiegoEliasCosta/netty
[submodule "RQ2. Impact of bad JMH practices/projects/pgjdbc"]
	path = RQ2. Impact of bad JMH practices/projects/pgjdbc
	url = https://github.com/DiegoEliasCosta/pgjdbc
[submodule "RQ2. Impact of bad JMH practices/projects/log4j2"]
	path = RQ2. Impact of bad JMH practices/projects/log4j2
	url = https://github.com/DiegoEliasCosta/logging-log4j2
